@import './login';
.navBarContainer{
    width:100%;
    background-color: teal;
    position: sticky;
    z-index:1;
    top:0px;
}

.navBar{
    @include flexContainer(row);
    justify-content: flex-end;
    padding:1%;
    margin-right:2%;
    padding-top:1.5%;
     div{
         margin:0% 1%;
     }
     .navLink{
         text-decoration: none;
         color:rgb(206, 205, 205);
         font-weight: 600;
         transition: all 0.3s ease;
         border:1px solid teal;
        //  padding:10% 10%;
         border-radius:7px;
         &:hover{
            color: #fff;
            font-weight: 800;
            // border: 1px solid white;
         }
     }
}

