@import './login';

.singleEventContainer{
    width:100%;
    @include flexContainer(row);
    background-color: $eventColor;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2%;
    padding:1% 2%;
    border:none;
    border-bottom:1px dashed $borderColor;
}

.singleEventContent{
    @include flexContainer(column);
    align-items: flex-start;
    width:90%;
    // margin-left:2%;
    // border:1px solid purple;
}
.singleEventTitle{
    // border:1px solid black;
    color:$fontColor;
    font-weight:800;
    margin:1% 0%;
    font-size:20px;
}
.singleEventDesc{
    color:$fontColor;
    font-size:17px;
    margin:1% 0%;
    word-break: break-all;
    text-align: justify;
}
.singleEventDate{
    color:$dateColor;
    font-size:15px;
    margin:1% 0%;
}
.deleteDiv{
    margin:3% 0%;
    border-radius:50%;
    border: 1px solid #aaa;
    background-color: rgb(227, 230, 231);
    padding:0.7% 0.7% 0.4% 0.8%;
}